@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=EB+Garamond&family=Mrs+Sheppards&family=Niconne&family=Open+Sans&display=swap');

.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

body {
  font-family: 'EB Garamond', serif;
}
.bg-dark{
  background: rgb(31,31,31);
  background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(43,43,43,1) 18%, rgba(153,31,36,1) 34%, rgba(227,56,38,1) 51%, rgba(232,115,35,1) 70%, rgba(231,169,35,1) 88%);
}

